@model IEnumerable<Aman.EmailSender.Models.Message>

<div class="row">
    <div class="col-sm-12">

        <table class="w-100 table-hover">
            <tr>
                <th><input type="checkbox" id="allselectedMessages" onchange="getAllSelectedMessages()" /> </th>
                <th>Subject</th>
                <th> Messages</th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td> <input type="checkbox" value="@item.Id" class="selectedMessages" onchange="getSelectedMessages(this)" />  </td>
                    <td>
                        @item.Subject
                    </td>
                    <td>
                        @item.Text
                    </td>
                </tr>
            }
            <tr>
                <td class="">
                    @using (Html.BeginForm("SendMessages", "EmailSender", FormMethod.Post, new { id = "emailForm" }))
                    {
                        <div hidden>@Html.Editor("selectedMessagesId")</div>
                        <input type="button" value="Send Email" class="btn-success" onclick="sendMessages()" />}
                </td>
            </tr>

        </table>
    </div>
</div>
<script>
    var sList = [];

    function getAllSelectedMessages() {
        if (!$("#allselectedMessages").is(':checked')) {
            $('.selectedMessages').prop('checked', false);
            sList = [];
        }

        else {
            $('.selectedMessages').each(function () {
                $(this).prop('checked', true);
                sList.push(this.value);
            });
        }

        $("#selectedMessagesId").val(sList);
    }


    function getSelectedMessages(item) {
        
            if (item.checked) {
                sList.push(item.value);
            }
            else {
                sList = removeItem(sList, item.value);
        }

        $("#selectedMessagesId").val(sList);
    }

    function sendMessages() {
        if (sList.length>0)
            $("#emailForm").submit();
    }


    function removeItem(arr, value) {

        return arr.filter(function (ele) {
            return ele != value;
        });
    }

</script>